<li><%= @site.name %> -- <%= @site.location %> <%= link_to 'Edit Site', edit_site_path(@site) %> </li> 

#  @site.studies.open.each do |open_study| %>
	<%# create_enrollment_path(participant, site, study) %>
# % end %>

